.container, html, body, .tab {
	height: 100%;
}
.tab {
	padding-bottom: 2em;
}
.navigation_button {
	height: 2em;
	bottom: 0;
}
.subtab, .row {
	height: 100%;
}
.inventory {
	background-color: #ECDDAB;
}
.body {
	background-color: #E0ECAB;
}
.battlefield {
	background-color: #ECC5AB;
}