.container, html, body, .tab {
	height: 100%;
}
.tab {
	padding-bottom: 2em;
}
.navigation_button {
	height: 2em;
	bottom: 0;
}
.subtab, .row {
	height: 100%;
}
.subtab {
	padding-top: 0.5em;
}
.inventory {
	background-color: #ECDDAB;
}
.homunculus {
	background-color: #E0ECAB;
}
.player {
	background-color: #E0ECAB;
}
.enemy {
	background-color: #ECC5AB;
}
.title {
	opacity: 0.5;
}