div {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

body, html {
	height: 100%;
}

body {
	height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
}
.left{	
	padding-bottom: 150px;
}
.left, .right {
	height: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.hotkeys {
		display:none;
	}
	.container-fluid, .row, .left, .right, .info, .inventory, .stats {
		height: auto;
	}
}

.chat {
	height: 150px;
	overflow-y: auto;
	background-color: grey;
}

.content {
	overflow-y: auto;
	height:100%;
	background-color: blue;
}
.inventory {
	overflow-y: auto;
	background-color: yellow;
	height:100%;
}
.info {
	height: 100%;
}

.stats{	
	height: 60%;
	overflow-y: auto;
	background-color: green;
}
.hotkeys {
	height: 40%;
	overflow-y: auto;
	background-color: purple;
}